*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(/assets/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    
}

header{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    width: 50%;    
    margin: 0 auto;
    background-color: rgb(84, 84, 84, 0.75);

}

header img{
    width: 25%;
    height: 10%;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
}

header h1{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
    font-family: "Witcher1";
    font-size: 32px;
    color: rgb(219, 228, 229);
}