*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    

}

body {
    background-image: url(../assets/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}

section *{
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    width: 1000px;  
    margin: auto;
    background-color: rgb(84, 84, 84, 0.75);

}

header img{
    width: 180px;
    height: 80px;
    margin-left: 70px;
    margin-top: auto;
    margin-bottom: auto;
}

header h1{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 70px;
    font-family: "Witcher1";
    font-size: 32px;
    color: rgb(219, 228, 229);
}

section {
    width: 1000px;
    border: 3px black solid;
    margin: auto;
    background-color: rgb(217, 217, 217, 0.7);
    background-size: cover;

    display: flex;
    flex-direction: row;

    gap: 40px;
}

.paragrafo{
    width: 500px;
    margin-left: 24px;
    margin-top: 20px;
}


.paragrafo p{
    font-size: 12px;
    font-weight: bold;
}

#galeria{
    /* border: 1px purple solid; */
    width: 640px;
    margin-top: 15px;
    margin-left: 24px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;

}

#galeria .titulo-galeria h1{
    font-size: 26px;
}

#galeria .imagens{
    display: flex;
    flex-direction: row;

    
}
#galeria .imagens img{
    border: 2px solid black;
}

#parte-direita {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    background-color: rgb(134, 178, 202, 0.80);
    margin-top: 30px;
    margin-bottom: 30px;

}

#parte-direita img{
    border: 2px solid black;
}

.info {
    border: 2px black solid;
    font-weight: bold;
    font-size: 16px;
 
}

.info ul{
    padding: 0 20px;
}

.info h3{
    text-align: center;
}

@media (max-width: 768px) {

    body{
        width: 100%;
    }

    header {
        width: 100%;
    }

    header img {
        width: 140px;
        margin-left: 20px;
    }

    header h1 {
        font-size: 24px;
        margin-right: 10px;
    }

    section {
        width: 100%;
        flex-direction: column;
    }

    .paragrafo {
        width: 90%;
        margin-left: 5%;
    }

    #galeria {
        margin-left: 80px;
    }

    #galeria .imagens{
        flex-direction: column;
        width: 200px;
    }

    #parte-direita {
        margin-left: 80px;
        width: 200px;
   
    }
}